.questions-area-wrapper {
    background: var(--light_blue);
    padding: 34px 35px 65px;
    border-radius: 10px;
}

@media (max-width: 459px) {
    .questions-area-wrapper {
        padding: 24px 16px 34px;
    }
}