:root {
    --light_blue: #DDF3FF;
    --blue: #89D1F8;
    --dark_blue: #00A5FF;
    --gray: #9A9A9A;
    --light_gray: #B8B8B8;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    color: black;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

button, a {
    transition: all .3s;
}

img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: contain;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 8px 13px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.btn-white {
    color: black;
    background: white;
    border: 1px solid white;
}

.btn-white:hover {
    color: white;
    background: var(--dark_blue);
    border: 1px solid var(--dark_blue);
}

.btn-blue {
    color: white;
    background: var(--dark_blue);
    border: 1px solid var(--dark_blue);
}

.btn-blue:hover {
    color: black;
    background: white;
}